.single-post .entry-header,
.page-header {

	position: relative;
	padding: rem-calc(14) 0 rem-calc(10) 0;
	background: linear-gradient($primary-color, $primary-color-medium);

	.has-post-thumbnail & {
		margin-bottom: 5%;
		@include breakpoint( xlarge ) {
			margin-bottom: rem-calc(50);
		}
	}

	.page-title {
		@include grid-col-row;
		color: white;
	}

	&__image {
		display: block;
		margin: 0 auto -5% auto;
		@include breakpoint( xlarge ) {
			margin-bottom: rem-calc(-50);
		}
	}


}

.single-post {
	.entry-title {
		@include padded-row( rem-calc(980) );
		width: 100%;
		color: white;
		margin-left: auto;
		margin-right: auto;
	}
}

.blog .page-header,
.archive .page-header {
	margin-bottom: 2rem;
}
