.entry-header {
	position: relative;
	padding: rem-calc(14) 0 rem-calc(10) 0;
	background: linear-gradient($primary-color, $primary-color-medium);

	.has-post-thumbnail & {
		margin-bottom: 5%;
		@include breakpoint( xlarge ) {
			margin-bottom: rem-calc(50);
		}
	}

	.entry-title {
		@include grid-col-row;
		color: white;
	}

	&__image {
		display: block;
		margin: 0 auto -5% auto;
		@include breakpoint( xlarge ) {
			margin-bottom: rem-calc(-50);
		}
	}
}
