.footer-widgets {
	@include grid-row;

	margin-bottom: 2rem;
	width: 80%;
	text-align: left;
	@include breakpoint( small only ) {
			text-align: center;
	}
}

.footer-widget {
	@include grid-col;
	margin: 1rem 0;
	font-size: rem-calc(14);
	@include breakpoint( medium ) {
		@include grid-col(6);
	}
	@include breakpoint( medium-large ) {
		@include grid-col(3);
	}

	&__title {
		font-size: rem-calc(14);
	}
	& a {
		color: white;
		&:hover {
			color: $primary-color-light;
		}
	}
}
