.footer-widgets {
	@include grid-row;
	margin-bottom: 2rem;
	width: 80%;
	text-align: left;
	@include breakpoint( small only ) {
			text-align: center;
	}
}

.footer-widget {
	@include grid-col;
	margin: 1rem 0;
	font-size: rem-calc(14);
	@include breakpoint( medium ) {
		@include grid-col(4);
	}

	&__title {
		font-size: rem-calc(14);
	}
}
