.menu {
	list-style: none;
	margin-left: 0;

	&--top {
		max-width: 100%!important;
		& a {
			color: white!important;
		}
	}

	&--main {
		list-style: none;
		margin: 0;
		padding-left: 0;

		.menu-item {


			@include breakpoint(medium) {
				display: inline-block;
			}

			&.btn a {
				@include button( $background: $primary-color-light, $background-hover: auto, $color: $primary-color );
				// color: $primary-color-mediumer;
				display: block;
				@include breakpoint(medium) {
					@include button( $background: $primary-color-light, $background-hover: auto, $color: $primary-color );
					margin: 0 0 0 rem-calc(18);
				}
				@media screen and #{breakpoint(medium)} and (max-width: 800px) {
					padding-left: rem-calc(12);
					padding-right: rem-calc(12);
					margin-left: 0;
				}
			}
		}

		a {
			@include button( $background: $primary-color, $background-hover: $primary-color-medium, $color: white );
			display: block;
			padding-bottom: 7px;
			border-bottom: 2px solid transparent;
			font-weight: bold;

			@include breakpoint(medium) {
				padding: rem-calc(8) rem-calc(10);
				font-size: rem-calc(13);
			}

			@include breakpoint(medium-large) {
				font-size: rem-calc(16);
			}

			@include breakpoint( small only ) {
				margin: rem-calc(4) 0;
			}

		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $primary-color-mediumer;
	}
}

.primary-menu-wrap {
	@include breakpoint( small only ) {
		display: none;
		position: absolute;
		top: rem-calc(76);
		left: 0;
		width: 100%;
		padding: rem-calc(12) 1rem rem-calc(12) 1rem;
		background: $primary-color;
		text-align: center;
		z-index: 0;
		box-shadow: 0 2px 3px rgba(0,0,0,.3);
		.logged-in & {
			top: rem-calc(122);
		}
	}
	@include breakpoint( medium ) {
		display: block !important;
		position: relative;
		z-index: 2;
	}

	&.mui-enter {
		@include mui-slide (
			$state: in,
			$direction: down,
			$amount: 100%,
			$fade: false,
			$duration: 300ms,
			$timing: ease
		)
	}
	&.mui-leave {
		@include mui-slide (
			$state: out,
			$direction: up,
			$amount: 100%,
			$fade: true,
			$duration: 300ms,
			$timing: ease
		)
	}
}

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled .menu {
// 	display: block;
// }

.menu-toggle {
	@include button( $style: 'hollow', $background: white, $background-hover: $primary-color-light, $color: $primary-color-light);
	margin: 0;
	position: relative;
	z-index: 2;
	transition: 200ms padding ease-out;

	&:hover,
	&:focus {
		border-color: $primary-color-light;
		color: $primary-color-light;
	}

	&.toggled {
		// @include button();
		// margin: 0;
		padding-left: rem-calc(30);
		padding-right: rem-calc(18);
		&:before {
			position: absolute;
			left: rem-calc(13);
			top: rem-calc(8);
			content: '×';
			font-weight: bold;
		}
	}
	@include breakpoint(medium) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
